@using ConsumeSellersApi.Models
@model sellers
@{
    ViewBag.Title = "Create";
}
@*<script type="text/javascript">
    function SelectedIndexChanged() {
        
        
        var cod = $('#combo');
        alert(cod);
        $('#cityVal').val(cod);

       
    }
</script>*@

<h2>Nuevo Vendedor</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Teclea los datos del nuevo vendedor</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
                <div class="control-label col-md-2" id="cityVal"><b></b></div>
                @*<div class="col-md-10">
                    @Html.EditorFor(model => model.CODIGO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CODIGO, "", new { @class = "text-danger" })
                </div>*@
            </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>Nombre</b></div>
            <div class="col-md-10">
                @*@Html.LabelFor(model => model.NOMBRE, htmlAttributes: new { @class = "control-label col-md-2" })*@

                @Html.EditorFor(model => model.NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NOMBRE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>Apellido</b></div>
            <div class=" col-md-10">
                @*@Html.LabelFor(model => model.APELLIDO, htmlAttributes: new { @class = "control-label col-md-2" })*@
                @Html.EditorFor(model => model.APELLIDO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.APELLIDO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>Identificación</b></div>
            @*@Html.LabelFor(model => model.NUMERO_IDENTIFICACION, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.NUMERO_IDENTIFICACION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NUMERO_IDENTIFICACION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>Ciudad:</b></div>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m._city, new SelectList(Enum.GetValues(typeof(City))), "SELECCIONA")
                @Html.ValidationMessageFor(model => model._city, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
